version: "3"
# version 2.x allows you to use depends_on with conditions that cause
# the node app to wait on mongo to respond to a healthy healthcheck before node is started
# v3.x doesn't have this feature yet, and is only needed if you want to use Swarm

services:
  backend:
    build: '.'
    container_name: "backend"
    ports:
      - "3000:3000"
      - "3001:3001"
      - "9229:9229"
    command:
      - node
      - "--inspect-brk=0.0.0.0"
      - "." 
    environment:
      - MONGO_HOSTNAME_ENV=mongo
      - MONGO_PORT_ENV=27017
      - MONGO_DATABASE_NAME_ENV=bl
      - MONGO_USERNAME_ENV=root
      - MONGO_PASSWORD_ENV=example

      - PORT=3000
      - ELASTIC_URL=http://elasticsearch.banlist.info:9200
      - ELASTIC_USERNAME=elastic
      - ELASTIC_PASSWORD=changeme

      # Backend Drapal 9
      - DRUPAL_API_ENV=http://165.22.99.230:8055
      - DRUPAL_AUTHORIZATION_ENV=c3dpZGVzd29kOjEyMzQ= # Authorization
    volumes:
      - .:/usr/src/app
    networks:
      - nodejs-network

  # backend_nginx:
  #   restart: always
  #   # image: backendnginx
  #   build: .
  #   container_name: backend_nginx
  #   ports:
  #     - 8055:80
  #   volumes:
  #     - "./d9/modules:/var/www/html/sites/default/modules"
  #     - "./d9/default.conf:/etc/nginx/conf.d/default.conf"
  #     # - "./volumes/nginx-sample-website/conf.d/:/etc/nginx/conf.d"
  #     # - "./volumes/config/sample-website/config.js:/usr/share/nginx/html/config.js"
  #     - "./d9/settings.php:/var/www/html/sites/default/settings.php"
  #     # - "./settings.local.php:/var/www/html/sites/settings.local.php"
  #     - "./d9/composer.json:/var/www/html/composer.json"
  #     - "./d9/composer.lock:/var/www/html/composer.lock"
  #     - "./d9/info.php:/var/www/html/info.php"
  #     - "./d9/vendor:/var/www/html/vendor"
  #     # - "./php.ini:/etc/php/7.3/php.ini"
  #     - "./d9/files:/var/www/html/sites/default/files"


  #     - ./d9/PhpassHashedPassword.php:/var/www/html/core/lib/Drupal/Core/Password/PhpassHashedPassword.php

  #     # - "./AuthenticationManager.php:/var/www/html/core/lib/Drupal/Core/Authentication/AuthenticationManager.php"
  #     - "./d9/www.conf:/etc/php/7.3/php-fpm.d/www.conf"

  #     - "./d9/nginx.conf:/etc/nginx/nginx.conf"
  #   environment:
  #     # - DB_HOST=postgres
  #     - DB_HOST=128.199.217.244
  #     - DB_NAME=banlist
  #     - DB_USER_NAME=postgres
  #     - DB_PASSWORD=postgres
  #     - __DEV__=true
  #   networks:
  #     - nodejs-network
  # # nodejs_bl:
  #   container_name: nodejs_bl
  #   build:
  #     context: .
  #     args:
  #       - NODE_ENV=development
  #   # you can use legacy debug config or new inspect
  #   # NOTE: if nodemon isn't restarting on changes, you might be on Windows
  #   # which has trouble seeing file changes, so add -L to use legacy polling
  #   # https://github.com/remy/nodemon#application-isnt-restarting
  #   #command: ../node_modules/.bin/nodemon --debug=0.0.0.0:5858
  #   command: ../node_modules/.bin/nodemon --inspect=0.0.0.0:9229 ./bin/www
  #   ports:
  #     - "3000:3000"
  #     - "9229:9229"
  #     - "9230:9230"
  #   volumes:
  #     - .:/opt/node_app/app
  #     # bind-mounting these two files in will let you add packages during development without rebuilding
  #     # for example, to add bower to your app while developing, just install it inside the container
  #     # and then nodemon will restart. Your changes will last until you "docker-compose down" and will
  #     # be saved on host for next build
  #     # NOTE: this won't work on Docker Toolbox (virtualbox) which doesn't bind-mount single files
  #     # docker-compose exec node npm install --save bower
  #     - ./package.json:/opt/node_app/package.json
  #     - ./package-lock.json:/opt/node_app/package-lock.json
  #     # this is a workaround to prevent host node_modules from accidently getting mounted in container
  #     # in case you want to use node/npm both outside container for test/lint etc. and also inside container
  #     # this will overwrite the default node_modules dir in container so it won't conflict with our
  #     # /opt/node_app/node_modules location. Thanks to PR from @brnluiz
  #     - notused:/opt/node_app/app/node_modules
  #   environment:
  #     - NODE_ENV=development
  #     - MONGO_USERNAME=root
  #     - MONGO_PASSWORD=example
  #     - MONGO_HOSTNAME=mongo
  #     - MONGO_PORT=27017
  #     - MONGO_DATABASE_NAME=bl

  #     # cloud mongodb
  #     # - MONGO_HOSTNAME_ENV=143.198.223.146

  #     # cloud local กรณีเรารัน production เราจะรัน nodejs + mongo เครื่องเดียวกันดังนั้นเราจึง อ้าง mongo ใน docker-compose เดียวกันได้เลย
  #     - MONGO_HOSTNAME_ENV=mongo
      
  #     - MONGO_PORT_ENV=27017
  #     - MONGO_DATABASE_NAME_ENV=bl
  #     - MONGO_USERNAME_ENV=root
  #     - MONGO_PASSWORD_ENV=example

  #     - DRUPAL_API_ENV=http://backend.banlist.info:8055
  #     - DRUPAL_AUTHORIZATION_ENV=c3dpZGVzd29kOjEyMzQ= # Authorization

  #     - ELASTIC_URL=http://backend.banlist.info:9200
  #     - ELASTIC_USERNAME=elastic
  #     - ELASTIC_PASSWORD=changeme
  #   depends_on:
  #     mongo:
  #       condition: service_healthy
  #   healthcheck:
  #     disable: true
  #   networks:
  #     - nodejs-network

  # mongo:
  #   # image: mongo:4
  #   image: "mongo"
  #   ports:
  #     - "27017:27017"
  #   environment:
  #     - MONGO_INITDB_ROOT_USERNAME=root
  #     - MONGO_INITDB_ROOT_PASSWORD=example
  #     - MONGO_INITDB_DATABASE=bl
  #   volumes:
  #     # this is an example of how to seed data in mongo containers. The Docker Hub mongo README
  #     # explains that any data dropped into the docker-entrypoint-initdb.d directory will be injected 
  #     # into mongo at startup. This is also a common pattern for other db solutions like mysql or psql
  #     - ./database:/docker-entrypoint-initdb.d
  #   # we need to check health here, so that docker-compose will wait for a healthy mongo before it starts node
  # #   healthcheck:
  # #     test: "[ `echo 'db.runCommand(\"ping\").ok' | mongo localhost/bl --quiet` ] && echo 0 || echo 1"
  # #     interval: 5s
  # #     start_period: 10s
  # #     timeout: 4s
  # #     retries: 3
  #   networks:
  #     - backend-network
  
  # mongo-express:
  #   image: mongo-express
  #   environment:
  #     - ME_CONFIG_MONGODB_SERVER=mongo
  #     - ME_CONFIG_MONGODB_PORT=27017
  #     - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
  #     - ME_CONFIG_MONGODB_AUTH_DATABASE=admin
  #     - ME_CONFIG_MONGODB_AUTH_USERNAME=root
  #     - ME_CONFIG_MONGODB_AUTH_PASSWORD=example
  #     - ME_CONFIG_BASICAUTH_USERNAME=dev
  #     - ME_CONFIG_BASICAUTH_PASSWORD=dev
  #   depends_on:
  #     - mongo
  #   ports:
  #     - "8081:8081"
  #   networks:
  #     - backend-network

  mongo-express:
    image: mongo-express
    volumes:
      - ./config.default.js:/node_modules/mongo-express/config.js
    environment:
      # - ME_CONFIG_MONGODB_SERVER="url.mongo1,url.mongo2,url.mongo3"
      # - ME_CONFIG_MONGODB_URL='mongodb://mongo1:27017,mongo2:27017,mongo3:27017/bl?replicaSet=my-mongo-set'
      # - ME_CONFIG_MONGODB_SERVER="mongo1:27017,mongo2:27017,mongo3:27017"
      # - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_SERVER=mongo1:27017,mongo2:27017,mongo3
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
      - ME_CONFIG_MONGODB_AUTH_DATABASE=test
      # - ME_CONFIG_MONGODB_AUTH_USERNAME=root
      # - ME_CONFIG_MONGODB_AUTH_PASSWORD=example
      - ME_CONFIG_BASICAUTH_USERNAME=dev
      - ME_CONFIG_BASICAUTH_PASSWORD=dev
      # - ME_CONFIG_MONGODB_ADMINUSERNAME="admin"
      # - ME_CONFIG_MONGODB_ADMINPASSWORD="admin"
    # depends_on:
    #   - mongo
    ports:
      - "8081:8081"
    networks:
      - nodejs-network
      
networks:
  nodejs-network:
    external:
      name: my-mongo-cluster
